<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mason's Proxy | Home</title>
    <meta name="description" content="Ho&shy;ly Unbl&#8203;o&#8203;c&#8203;ker is a se&shy;c&#8203;ure we&shy;b pr&#173;ox&#173;y se&#8203;rvi&shy;ce with sup&#8203;po&#173;rt for many sit&shy;es. By&#8203;pa&shy;ss fi&shy;l&#8203;ter&shy;s and fr&shy;ee&#173;ly enj&shy;oy a saf&shy;er pr&shy;iva&shy;te b&#8203;rowsi&shy;ng expe&#173;ri&shy;ence or u&shy;nblo&#8203;ck webs&shy;ites on de&#173;vices such as Chr&#8203;omebo&shy;oks and at plac&#8203;es li&#173;ke sch&shy;o&shy;ol or wor&shy;k with&#8203;out do&#8203;wnload&shy;ing anythi&#173;ng."
    />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <meta name="googlebot" content="index, follow, snippet" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.global/36f190a8-c0e9-4d18-bb20-246dba3f1e3d/Mason's%20Proxy.png?v=1679526857650">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/styles-1644738239.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1493380855147376" crossorigin="anonymous"></script>
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/tsparticles@1.39.2/tsparticles.min.js" integrity="sha256-FCz5ToEA27payrGYaVGRidiIA+68Z31TBXFzcIT1/gU=" crossorigin="anonymous"></script>
</head>

<body>
    <span style="display: none;" data-fact="Example3" data-type="Example3">Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1</span>
    <div id="header" class="fullwidth"></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="banner" class="fullwidth">
        <p class="text-center">
            Version 1
        </p>
    </div>
    <div id="mainbody" class="fullwidth">
        <div class="box-home text-center">
            <h1>Welcome to my proxy!</h1>
            <h1>Click below to start!</h1>
            <a class="hovermessage buttonlink startbutton" data-hover-text="Start" href="#scrollfix">Start Unblocking</a>
        </div>
        <div id="scrollfix">&#8203;<br>&#8203;</div>
        <div id="desc">
        </div>
    </div>
    <div id="footer" class="fullwidth">
    </div>
    <span style="display: none;" data-fact="Example2" data-type="Example8">Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1Example1</span>
    <script src="assets/js/common-16451543478.js"></script>
    <script src="assets/js/links-1644738239.js"></script>
    <script src="assets/js/header-1644738239.js"></script>
    <script src="assets/js/csel.js"></script>
    <script src="assets/js/footer-1644738239.js"></script>
    <script src="assets/js/desc-1644738239.js"></script>
    <script defer="defer" src="assets/js/particlesjs/particles.js"></script>
</body>

</html>